<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Usuarios</h3>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usuarios" [routerLink]="['/usuarios']" class="pointer">
                            <td>
                                <img [src]="user.img | imagen" class="img-thumbnail rounded-circle img50 pointer" alt="" (click)="mostrarModal(user._id)">
                            </td>
                            <td>{{user.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-secondary" *ngIf="usuarios.length === 0" role="alert">
                    <strong>No existen registros</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Medicos</h3>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let med of medicos">
                            <td>
                                <img [src]="med.img | imagen:'medico'" class="img-thumbnail rounded-circle img50 pointer" alt="" (click)="mostrarModal(user._id)">
                            </td>
                            <td>{{med.nombre}}</td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="['/medico',med._id]" type="button"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-secondary" *ngIf="medicos.length === 0" role="alert">
                    <strong>No existen registros</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hospitales</h3>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hop of hospitales" [routerLink]="['/hospitales']" class="pointer">
                            <td>
                                <img [src]="hop.img | imagen:'hospitales'" class="img-thumbnail rounded-circle img50 pointer" alt="" (click)="mostrarModal(user._id)">
                            </td>
                            <td>{{hop.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-secondary" *ngIf="hospitales.length === 0" role="alert">
                    <strong>No existen registros</strong>
                </div>
            </div>
        </div>
    </div>
</div>