<div class="container animated fadeIn">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <input #input (keyup)="buscar(input.value)" type="text" class="form-control" placeholder="Buscar blog" name="" id="">
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center" role="alert">
            <strong>Cargando</strong>
            <i class="fa fa-refresh fa-2x fa-spin mx-3"></i>
            <span>Espere por favor</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button type="button" [routerLink]="['/blog','nuevo']" class="btn btn-primary btn-rounded waves-effect waves-light">
                                <i class="fa fa-plus"></i> Crear Blog
                    </button>
                </div>
                <h3 class="card-title">Blogs Registrados <span class="badge badge-info">{{totalRegistros}}</span></h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Titulo</th>
                            <th>autor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of blogs">
                            <td class="w70">
                                <img [src]="b.img | imagen:'blogs'" class="img-thumbnail img-fluid rounded-left img50" alt="">
                            </td>
                            <td>
                                {{b.titulo}}
                            </td>
                            <td>
                                {{b.autor.nombre}}
                            </td>
                            <td>
                                <button [routerLink]="['/blog',b._id]" type="button" class="btn btn-warning mr-3">
                                <i class="fa fa-edit"></i>
                                </button>
                                <button (click)="borrar(b)" type="button" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
                <button type="button" (click)="cambiarDesde(5)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
    </div>
</div>