<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">{{blog.titulo}}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardar(f)">
                        <div class="form-group mt-2">
                            <label for="exampleInputEmail1">Titulo</label>
                            <input type="text" [(ngModel)]="blog.titulo" class="form-control" required name="titulo" id="exampleInputEmail1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">Contenido</label>
                            <textarea [(ngModel)]="blog.contenido" class="form-control" name="contenido" id="" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            {{blog._id ? 'Actualizar' : 'Guardar'}}
                        </button>
                        <button routerLink="/blogs" type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6" *ngIf="blog._id">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Fotografía</h3>
                <img [src]="blog.img | imagen:'blogs'" (click)="cambiarFoto()" class="img-fluid rounded-0" alt="">
            </div>
        </div>
    </div>
</div>